asgiref==3.11.1
blinker==1.9.0
cffi==2.0.0
click==8.3.1
colorama==0.4.6
cryptography==41.0.7
Django==5.2.11
Flask==2.3.3
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==1.24.3
opencv-python==4.8.0.76
pandas==3.0.1
Pillow==10.0.0
pycparser==3.0
pycryptodome==3.19.0
pypng==0.20220715.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
qrcode==7.4.2
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
Werkzeug==2.3.7
