# Deep Blue - Örnek Çevre Değişkenleri
FLASK_APP=deepblue.py
FLASK_DEBUG=1
SECRET_KEY=buraya_rastgele_uzun_bir_gizli_anahtar_yazilacak
DATABASE_URL=postgresql://kullanici_adi:sifre@localhost:5432/deepblue_db