<p>{{ _('Sayın') }} {{ user.username }},</p>
<p>{{ _('Şifrenizi sıfırlamak için') }} <a href="{{ url_for('reset_password', token=token, _external=True) }}">{{ _('buraya tıklayın') }}</a>.</p>
<p>{{ _('Alternatif olarak bağlantıyı tarayıcınızın adres çubuğuna yapıştırabilirsiniz:') }}</p>
<p>{{ url_for('reset_password', token=token, _external=True) }}</p>
<p>{{ _('Eğer bu isteği siz yapmadıysanız, lütfen bu e-postayı görmezden gelin.') }}</p>
<p>{{ _('Sevgiler,') }}<br>{{ _('Deep Blue Ekibi') }}</p>