{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
    <h1>{{ _('Giriş Yap') }}</h1>
    <div class="row">
        <div class="col-md-4">
            {{ render_form(form) }}
        </div>
    </div>
    <br>
    <p>{{ _('Yeni Kullanıcı mısınız?') }} <a href="{{ url_for('auth.register') }}">{{ _('Kayıt Olmak İçin Tıklayın!') }}</a></p>
    <p>{{ _('Şifrenizi mi unuttunuz?') }} <a href="{{ url_for('auth.reset_password_request') }}">{{ _('Şifreyi Sıfırla') }}</a></p>
{% endblock %}